



body {
  background: linear-gradient(
    135deg, /* Angle of gradient */
    hsl(308, 61%, 20%) 0%, /* Last color at the top */
    hsl(275, 95%, 62%) 25%, /* Base Purple */
    hsl(275, 95%, 72%) 50%, /* Light Purple 1 */
    hsl(308, 61%, 20%)  /* Light Purple 2 */
  );
  background-size: cover;
}

.authContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh; 
   }
  
  
   .heading{
      
   
    font-size:x-large;
    text-align: center;
    color:#D292FF;
    margin-bottom:1.5rem;
    font-family:"Lucida Handwriting"
    
  }
   .auth-form{
    
    display:flex;
    flex-direction: column;
    width:450px;
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 0 10px blueviolet; 
    background-color: black;
    
 }
   label{
    display:block;
    margin-bottom: 1rem;
   
    color:whitesmoke;
   }
  .input{
   
    padding:.5rem;
    margin-bottom:1rem;
    

  }
  .error-msg{
    color:#D292FF;
    margin-top:0.5rem;
    text-align: center;
  }
  .submit{
    padding:10px;
  
    border:none;
    cursor: pointer;
    color:whitesmoke;
    margin-top:1.5rem;
    transition: .5s ease;
    background: linear-gradient(
    135deg,
    hsl(308, 61%, 20%) 0%,
    hsl(275, 95%, 62%) 100%,
    hsl(275, 95%, 72%) 50%,
    hsl(308, 61%, 20%)
  );
    
   

  }
  .submit:hover{
    background: linear-gradient(
    135deg,
    hsl(308, 61%, 25%) 0%,
    hsl(275, 95%, 67%) 100%,
    hsl(275, 95%, 77%) 50%,
    hsl(308, 61%, 25%)
  );
  }
 
 

  
  .signup-link{
    margin-top:15px;
    text-align: right;

  }
  .signup-link a{
    color:whitesmoke;
  }

  